<div class="course-management">
  <header>
    <h1>Staff</h1>
  </header>

  <!-- Tabs for navigating between different views -->
  <div class="tabs">
    <button class="tab" [class.active]="roleFilter === 'All'" (click)="onRoleChange('All')">All Staff</button>
    <button class="tab" [class.active]="roleFilter === 'Administrator'" (click)="onRoleChange('Administrator')">Administrator</button>
    <button class="tab" [class.active]="roleFilter === 'Teacher'" (click)="onRoleChange('Teacher')">Teacher</button>
    <button class="tab" [class.active]="roleFilter === 'Tutor'" (click)="onRoleChange('Tutor')">Tutor</button>
  </div>

  <!-- Add User Button -->
  <div class="add-user-wrapper">
    <button class="button add-user" [routerLink]="['/add-user']"><i class="fas fa-user-plus"></i> Add Staff</button>
  </div>

  <!-- Search bar -->
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search for staff..."
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange($event)" />
  </div>

  <!-- Table to display users -->
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- Display users based on the selected role -->
      <tr *ngFor="let user of filteredUsers | paginate: { itemsPerPage: 5, currentPage: p}">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="button edit" [routerLink]="['/detail-user', user.userId]">
            <i class="fas fa-eye"></i>
          </button>
        </td>
        <td>
          <button class="button delete" (click)="deleteUser(user)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination controls (if needed) -->
  <div class="pagination-controls-wrapper">
    <!-- Implement pagination controls here -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>
</div>
