<div class="course-management">
  <header>
    <h1>Student</h1>
  </header>
  <br>
  <!-- Search bar -->
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search for classes..."
      [(ngModel)]="searchQuery"
      (input)="searchStudents()">
  </div>
  <table>
    <thead>
    <tr>

      <th>Name</th>
      <th>Email</th>
      <th>Parent</th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of filterStudents | paginate: { itemsPerPage: 5, currentPage: p } ">

      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.parent?.name }}</td>

      <td >
        <button class="button edit" [routerLink]="['/detail-student', student.userId]"><i class="fas fa-eye"></i></button>
        

      </td>

    </tr>
    </tbody>
  </table>

 
  <!-- Pagination controls  -->
  <div class="pagination-controls-wrapper">
    <!-- Pagination Controls -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  </div>
