<div class="sidebar">
  <div class="admin-logo">
    <img src="admin.png" alt="Admin">
    <h2></h2>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
      <li><a routerLink="/student-list" routerLinkActive="active"><i class="fas fa-user-graduate"></i> Student</a></li>
      <li><a routerLink="/user-list" routerLinkActive="active"><i class="fas fa-chalkboard-teacher"></i> Staff</a></li>
      <li><a routerLink="/grade-level-list" routerLinkActive="active"><i class="fas fa-graduation-cap"></i> Grade Level</a></li>
      <li><a routerLink="/class-list" routerLinkActive="active"><i class="fas fa-school"></i> Class</a></li>
      <li><a routerLink="/cours-list" routerLinkActive="active"><i class="fas fa-book"></i> Courses</a></li>
      <li><a routerLink="resource-list" routerLinkActive="active"><i class="fas fa-folder"></i> Resource</a></li>
      <li><a routerLink="/assignment-list" routerLinkActive="active"><i class="fas fa-tasks"></i> Assignment</a></li>
      <li><a routerLink="/quiz-list" routerLinkActive="active"><i class="fas fa-question-circle"></i> Quiz</a></li> <!-- Added Quiz List item -->
      <li><a routerLink="/subscription-list" routerLinkActive="active"><i class="fas fa-credit-card"></i> Subscription</a></li>

    </ul>
  </nav>
</div>
